<div id="current-games" ng-controller='GamesController as games'>
  <p>Here is the list of our current games:</p>

  <h2>Find a game in your sport</h2>

  <p>Sport:</p>


  <div class="search_map" id="search_map" style="width:715px;height:600px;"></div>

  <div id="class" ng-repeat="marker in games.markers"></div>


  <input type="text" placeholder="sport" ng-model="games.sportSearch">
  <input type="text" placeholder="number of players" ng-model="games.numberSearch">


    <div ng-repeat="x in nas = (games.all | filter:{sport:games.sportSearch} | filter:{number_of_players:games.numberSearch})">{{ x.sport }}</div>
  </ul>

</div>
